<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authorName }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />
  <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <header>
    <h1><a href="/">{{ site.name }}</a></h1>
    <nav>
      <a href="/sample/">Sample Page</a>
    </nav>
  </header>

  <main>
    {% if title %}<h2>{{ title }}</h2>{% endif %}
    {{ content | safe }}
  </main>

  <footer>
    &copy; {% year %} <a href="https://mikeaparicio.com">Mike Aparicio</a> &middot; All your rights are belong to us (j/k do whatever you want, idc)
  </footer>

</body>
</html>