[class*="#{$prefix}-flex-row"],
[class*="#{$prefix}-space-between"] {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: $spacing-20;
  }
}

[class*="#{$prefix}-space-between"] {
  justify-content: space-between;
}

.#{$prefix} {
  &-flex-item {
    flex: 1;
  }
  &-align-start {
    align-items: flex-start;
  }
  &-align-end {
    align-items: flex-end;
  }
  &-justify-center {
    justify-content: center;
  }
  &-flex-row {
    &-10 > :not(:last-child) {
      margin-right: $spacing-10;
    }
  }
  &-flex-row {
    &-40 > :not(:last-child) {
      margin-right: $spacing-40;
    }
  }
}

.#{$prefix}-grid {
  --min-width: 310px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(var(--min-width), 1fr));
  grid-template-rows: auto;
  gap: $spacing-20;
}