.#{$prefix} {
  &-surface-accent-light {
    background-color: $color-background-accent-light;
  }
  &-surface-white {
    background-color: $color-background-white;
  }
  &-surface-accent {
    background-color: $color-background-accent;
    color: $color-text-inverse;
  }
  &-radius-large {
    border-radius: $border-radius-large;
  }
  &-text-brand {
    color: $color-text-brand;
  }
  &-text-brand-large {
    color: $color-text-brand-large;
  }
  &-text-accent {
    color: $color-text-accent;
  }
  &-text-accent-inverse {
    color: $color-text-accent-inverse;
  }
  &-text-subdued {
    color: $color-text-subdued;
  }
  &-text-strong {
    font-weight: $font-weight-bold;
  }
  &-text-right {
    text-align: right;
  }
}