* {
  box-sizing: border-box;
  margin-block-start: 0;
}

body {
  max-width: 65ch;
  margin-inline: auto;
  font-family: Papyrus, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  padding: 1rem;
}

code {
  background-color: #eee;
  padding: 2px 4px;
}

h1 a {
  text-decoration: none;
}

a {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer {
  color: #777;
  font-size: .875rem;
}