---
title: Frontend Horse
---

<div>
  <header data-grid-area="header">
    <div>
      <img src="/assets/images/fh-logo.svg" width="160" height="59">
      <nav>
        <ul role="list">
          <li><a href="">Articles</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Twitch</a></li>
          <li><a href="">Discord</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main data-grid-area="main">
    <section data-grid-area="hero">
      <div style="max-width: 500px">
        <h1>Techniques to get you galloping</h1>
        <p>Learn frontend development tricks from some of the web's best creative developers.</p>
        {% include 'form.html' %}
      </div>
      <div>
        <img src="/assets/images/fh-hero.png" alt="Funky horse-themed hero image">
      </div>
    </section>

    <section data-grid-area="featured">
      <div>
        <h2>Featured Articles</h2>
        <div>
          {% for article in featured %}
            {% include 'card.html' %}
          {% endfor %}
        </div>

        <p><a href="">View all articles</a></p>
      </div>
    </section>

    <section data-grid-area="recent">
      <div>
        <h2>Recent Articles</h2>
        <div>
          {% for article in recent %}
            {% include 'card.html' %}
          {% endfor %}
        </div>
        <p><a href="">View all articles</a></p>
      </div>
    </section>

    <section data-grid-area="newsletter">
      <div>
        <figure>
          <div>
            <img src="/assets/images/mailbox.png" alt="Frontend Horse Mailbox" style="max-width: 300px">
          </div>
          <figcaption style="max-width: 452px;">
            <h2>Fill your mailbox with frontend fun</h2>
            <p>A weekly newsletter that demystifies the best CodePens, tutorials, and resources. It's always fun, free, and you can hang up your spurs any time.</p>
            {% include 'form.html' %}
            <p><a href="">Check out past issues</a></p>
          </figcaption>
        </figure>
      </div>
    </section>
  </main>

  <footer data-grid-area="footer">
    <div>
      <img src="/assets/images/fh-logo.svg" width="160" height="59">
      <nav>
        <ul role="list">
          <li><a href="">Articles</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Twitch</a></li>
          <li><a href="">Discord</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <div>
        <p>&copy; 2021, Alex Trost. All rights reserved.</p>
        <ul role="list">
          <li><a href=""><svg width="24" height="24"><use xlink:href="#icon-twitter"></use></svg></a></li>
          <li><a href=""><svg width="24" height="24"><use xlink:href="#icon-twitch"></use></svg></a></li>
          <li><a href=""><svg width="24" height="24"><use xlink:href="#icon-discord"></use></svg></a></li>
          <li><a href=""><svg width="24" height="24"><use xlink:href="#icon-youtube"></use></svg></a></li>
        </ul>
      </div>
    </div>
  </footer>

</div>


