.#{$prefix}-card {
  background-color: $color-background-default;
  color: $color-text-default;
  border-radius: $border-radius-medium;
  overflow: hidden;
  transition: all $duration-medium $timing-function-default;
  display: flex;
  flex-direction: column;
  > figcaption {
    flex: 1;
    display: flex;
    flex-direction: column;
    > :nth-child(2) {
      flex: 1;
    }
  }
  &:hover {
    transform: scale(#{$scale-hover});
    box-shadow: $box-shadow-large;
  }
}