.#{$prefix} {
  &-input {
    appearance: none;
    background-color: $form-field-background-color;
    border: $form-field-border;
    border-radius: $form-field-border-radius;
    font-size: $form-field-font-size;
    line-height: $form-field-line-height;
    width: 100%;
    padding: $form-field-padding;
    &:focus-visible {
      outline: buttontext dotted 1px;
    }
  }
}