$spooky-black: hsl(60, 4.2%, 9.4%);
$spooky-orange: hsl(19.6, 91%, 56.5%);
$spooky-purple: hsl(281.1, 73.8%, 32.9%);
$spooky-green: hsl(118, 94.7%, 55.9%);

$color-background-default: $spooky-black;
$color-text-default: $color-yellow-100;
$color-text-brand: $spooky-orange;
$color-text-brand-large: $spooky-orange;
$color-text-inverse: $spooky-black;
$color-background-brand-light: $spooky-orange;
$button-background-color: $color-background-brand-light;
$icon-arrow-color: $color-yellow-100;
$icon-arrow-color-inverse: $spooky-black;
$color-background-accent: $spooky-purple;
$recent-color-background: $color-background-accent;
$color-text-accent-inverse: $spooky-green;