.#{$prefix}-layout-home {
  display: grid;
  [data-grid-area="featured"] {
    background-color: $color-background-brand-light;
    color: $color-text-inverse;
    padding: $spacing-100 $spacing-20;
  }
  [data-grid-area="recent"] {
    background-color: $color-background-accent;
    color: $color-text-inverse;
    padding: $spacing-100 $spacing-20;
  }
  [data-grid-area="newsletter"] {
    border-bottom: $border-width-thin solid $color-border-default;
  }
  [data-grid-area="footer"] {
    a, svg {
      display: block;
    }
    .fh-surface-accent a:hover {
      color: $color-text-accent-inverse;
    }
    .fh-text-accent a:hover {
      color: $color-text-default;
    }
  }
}